/* .product{
    max-width: 1250px;
    margin: 20px auto;
} */
.product h1{
    text-align: center;
    border-bottom: 2px solid black;
    max-width: 270px;
    margin:7px auto;
    padding: 7px 0;
    text-transform: capitalize;
}

.products{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr)) ;
    justify-items: center;
    margin: 20px 0;
}
